#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.grid-container {
  display: grid;
  column-gap: 50px;
}
.grid-table {
  grid-column: 1;
}
.grid-input {
  align-self: center;
  grid-column: 2;
}

.dropdown {
  border-radius: 8px;
  border: 1px solid transparent;
  height: 2.4em;
  padding: 0.6em 0.6em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.dropdown:hover {
  border-color: #646cff;
}
.dropdown:focus,
.dropdown:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.select-time {
  display: flex;
  justify-content: center;
  column-gap: 1em;
}

.colon {
  transform: translateY(-0.5em);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.center {
  text-align: center;
}

.emptyrow {
  height: 1em;
}

.cell {
  width: 12vw;
  background-color: #323232;
}

.time {
  text-align: end;
  vertical-align: text-bottom;
}

.timetable {
  position: absolute;
}